In [6]:
import pandas as pd
import scipy.stats as stats
url = 'https://raw.githubusercontent.com/ethanweed/ethanweed.github.io/master/python-tutorials/data/nettle_1998.csv'
df = pd.read_csv(url,sep = ';')
res = stats.pearsonr(df['Area'], df['Population'])
print("R: ", round(res[0],5))
print("p-value: ", round(res[1],5))

R:  0.33308
p-value:  0.00373

,Country,Languages,Area,Population,Stations,MGS,GS_SD,Variable_GS,Used_in_1996
0,Algeria,18,2381741,25660,102,6.60,2.29,Y,N
1,Angola,42,1246700,10303,50,6.22,1.87,N,N
2,Australia,234,7713364,17336,134,6.00,4.17,Y,N
3,Bangladesh,37,143998,118745,20,7.40,0.73,N,N
4,Benin,52,112622,4889,7,7.14,0.99,N,Y